<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.george.menutest">

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ifsc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.InformativoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ConteudoInformativoActivity"
            android:parentActivityName=".Activity.InformativoActivity" />
        <activity
            android:name=".Activity.SobreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GaleriaVideosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GaleriaImagensActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DatalhesImagemActivity"
            android:parentActivityName=".Activity.GaleriaImagensActivity"
            android:theme="@style/ActionBarDetails" />
        <activity
            android:name=".Activity.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DiagnosticoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MonitoramentoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ImagemCameraActivity" />
        <activity android:name=".Activity.ImagemArquivoActivity" />

        <provider
            android:name=".Helper.DiagnosticoActivityProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name=".Helper.CadastroActivityProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activity.BluetoothActivity"
            android:parentActivityName=".Activity.MonitoramentoActivity" />
        <activity
            android:name=".Activity.EtiquetaActivity"
            android:parentActivityName=".Activity.MonitoramentoActivity" />
        <activity android:name=".Activity.CadastroActivity" />
        <activity
            android:name=".Activity.DatabaseActivity"
            android:parentActivityName=".Activity.MonitoramentoActivity" />
        <activity android:name=".Activity.ImagemEtiquetaActivity"
            android:theme="@style/ActionBarDetails"
            android:parentActivityName=".Activity.DatabaseActivity"></activity>
    </application>

</manifest>